[submodule "rest-rpc-core"]
	path = rest-rpc-core
	url = git@github.com:xiaoshao/rest-rpc-core.git
[submodule "rest-rpc-sample"]
	path = rest-rpc-sample
	url = git@github.com:xiaoshao/rest-rpc-sample.git